@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
}

.amarelo {
  background-color: var(--yellow);
}


.azul {
  background-color: var(--blue);
}


.verde {
  background-color: var(--green);
}


.roxo {
  background-color: var(--purple);
}

header {

  height: 50px;
  padding: 20px 30px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);

}

h1 {
  color: var(--primary-text-color);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

}

.busca {
  width: 400px;
  border-radius: 5px;
  padding: 12px 18px;
  color: var(--secondary-text-color);
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 14px;
}

.icons-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-area a {
  margin-right: 20px;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-area a img {
  padding-right: 6px;
}

main {
  padding: 30px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;

  padding: 16px 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.banner .item {
  display: flex;
  align-items: center;
}

.banner .item .bolinha {
  margin-right: 10px;
}

.banner .item .bolinha .cor {
  width: 80px;
  height: 80px;
  border-radius: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 18px;
}

.banner .item .textos h3 {
  color: var(--primary-text-color);
  font-weight: 600;
}

.banner .item .textos p {
  color: var(--secondary-text-color);
  font-weight: 400;
  line-height: 25px;
}


.lista-de-produtos {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
  margin-top: 30px;
}

.lista-de-produtos .produto {
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30%;

  padding: 10px;
}

.lista-de-produtos .produto img {
  border-radius: 12px;


  /*
  object-fit: cover;
  width: 100%;
  */

}